node_modules/

package-lock.json
.DS_Store
coverage
.nyc_output

.cache
.parcel-cache
dist
lib
*.min.js

.vscode/
.idea/
.now/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp
parcel-bundle-reports
